<!DOCTYPE html>
<html>
<head>
 <title>{{page.title}}</title>
 <script src="https://use.fontawesome.com/3fbdc1e752.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
<body>
  <header class="grid-spaceBetween-middle">
  <div class="col-4">
    <img src="image/good.jpg">
  </div>
  <div class="col-4">
    <nav>
      <a href="https://www.facebook.com/profile.php?id=674522196"target="_blank"> About </a>
      <a href="https://www.facebook.com/profile.php?id=674522196"target="_blank"> Skills </a>
      <a href="https://www.facebook.com/profile.php?id=674522196"target="_blank"> Experience </a>
      <a href="https://www.facebook.com/profile.php?id=674522196"target="_blank"> Contact </a>
    </nav>
  </div>
  </header>

    {{content}}

    <footer>
      <h2> Get in touch </h2>
      <div>
      <form method="POST" action="http://formspree.io/khademnaz@gmail.com">
        <label for="name">Your Name</label>
        <input type="name" name= "name" placeholder="Your name">
        <label for="email">Your Email</label>
        <input type="email" name="email" placeholder="Your email">
        <label for="message"> Your message </label>
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
      <a href= "http://pikore.co/followers.php?id=2256637812&name=nazila_khadem"target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
      <a href= "http://pikore.co/followers.php?id=2256637812&name=nazila_khadem"target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>

    </footer>

    <!-- This is where the Jquery is-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js"></script>
        <script src="/jquery/main.js"></script>
  </body>
  </html>
